#  Generic Template
## Net fpga_0_Generic_External_Memory_Mem_A_pin<0> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<1> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<2> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<3> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<4> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<5> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<6> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<7> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<8> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<9> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<10> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<11> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<12> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<13> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<14> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<15> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<16> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<17> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<18> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<19> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<20> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<21> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<22> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<23> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<24> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<25> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<26> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<27> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<28> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<29> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<30> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_A_pin<31> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_RPN_pin LOC=;
## Net fpga_0_Generic_External_Memory_Mem_CEN_pin LOC=;
## Net fpga_0_Generic_External_Memory_Mem_OEN_pin LOC=;
## Net fpga_0_Generic_External_Memory_Mem_WEN_pin LOC=;
## Net fpga_0_Generic_External_Memory_Mem_BEN_pin<0> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<0> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<1> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<2> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<3> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<4> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<5> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<6> LOC=;
## Net fpga_0_Generic_External_Memory_Mem_DQ_pin<7> LOC=;
## Net fpga_0_Generic_External_Memory_MEM_CEFn_pin LOC=;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
## Net fpga_0_clk_1_sys_clk_pin LOC=;
Net fpga_0_rst_1_sys_rst_pin TIG;
## Net fpga_0_rst_1_sys_rst_pin LOC=;
